<html>
<head>
	<meta charset="UTF-8"/>
	<title>WebXports</title>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

   	<p align="center"><font color="#001000" size="40" face="Arial"> WebXports</font> </p>
	
	
	{{#loggedIn}}
	<a>Sesión iniciada como {{nick}}.</a><br>
	{{/loggedIn}}  
	<br>
	
	<p align="center"><br><a href="Noticias.html" class="btn btn-success">NOTICIAS</a><br></p>
	<p align="center"><br><a href="Equipos.html" class="btn btn-success">EQUIPOS</a><br></p>
	<p align="center"><br><a href="Plantillas.html" class="btn btn-success">PLANTILLA</a><br></p>
	<p align="center"><br><a href="Partidos.html" class="btn btn-success">PARTIDOS</a><br>
	<p align="center"><br><a href="Usuario.html" class="btn btn-success">USUARIO</a><br>

</body>
</html>